.card {
  margin: 0 auto;
  width: 170px;
  height: 300px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;

  @media (max-width: 350px) {
    width: 150px;
  }

  color: #333;
  text-align: center;
  padding: 0.5rem 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}